# Logs
logs
*.log

# Dependencies
node_modules
smoke-tests/**/yarn.lock
smoke-tests/**/pnpm-lock.yaml
smoke-tests/**/node_modules
yarn.lock

# Misc
.eslintcache
coverage
npm-debug.log
*.swp
.vscode
.idea
*.tgz
