public-hoist-pattern[]=!*eslint*
public-hoist-pattern[]=!*prettier*

# this behavior is annoying
ignore-scripts=true

# we never want to use packages from the registry over what's in the workspace
prefer-workspaces-packages=true

# default is true, we do this to try to have more isolation
# since we test with incompatible sets of TS types.
shared-workspace-lockfile=false
